/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */

body{
    margin: 0;
}

a {
    color: gray;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px;
    text-align: center;
}

/* Classes
   ========================================================================== */
/**
 * 
 */

.navbar {
    padding: 1.5%;
}

.nav-item {
    padding: 1.5rem;
}

.grey-white {
    background-color: #2E2E2E;
    color: white;
}

.footer-icons {
    margin-bottom: 20px;
  }
  
  .footer-icon {
    padding: 5px;
  }

/* IDs
   ========================================================================== */
/**
 * 
 */

#main-content {
    text-align: center;
}

